@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 58px;
}


@theme{
  --color-blackbg:#0A0A0A;
  --color-offblack:#0F1304;
  --color-lime:#B1D332;
  --color-olive:#5D7110;
  --color-text-white:#FBFEE4;
  --color-text-dark:#747B53;
  --font-zalando: "Zalando Sans Expanded", sans-serif; 
  

}

@layer utilities {
  .maxWidthForSections {
    @apply lg:max-w-5xl mx-auto xl:px-0 px-[3vw] sm:px-[5vw];
  }
  .hero-header{
    @apply lg:text-7xl text-center capitalize font-semibold tracking-wider md:leading-22 font-zalando leading-12 sm:text-5xl text-4xl
  }
  .section-header{
    @apply sm:text-5xl text-3xl text-center capitalize font-semibold  sm:leading-16 leading-10 font-zalando
  }
  .btn{
    @apply font-semibold cursor-pointer shadow-sm rounded-2xl min-w-[120px] py-1 px-3 hover:opacity-80;
  }
  .btn-primary{
    @apply bg-linear-to-t from-olive to-lime text-blackbg shadow-olive;
  }
  .btn-outline{
    @apply bg-transparent text-lime shadow-olive ;
  }
  .stack-avatar{
    @apply size-9 rounded-full ring-1 ring-white
  }

}


::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-track {
  padding: 0;
  background: #0A0A0A; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #B1D332; /* Color of the scrollbar thumb */
  border-radius: 100vw; /* Rounded corners for the thumb */
   /* Border around the thumb to match the track */
}


.nav-itemMobile {
  transition: opacity 2s, transform 1.5s;
  transition-delay: calc(0.1s * var(--i-nav));
  opacity: 0;
  transform: translateX(50px); /* Initial transform state */
}

.nav-itemMobile.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.nav-itemMobile.is-hidden {
  transition: none; /* Disable transition for instant reset */
  opacity: 0;
  transform: translateX(50px);
}
.close-itemMobile {
  transition: opacity 2s, transform 1.5s;
  transition-delay: calc(0.1s * var(--i-nav));
  opacity: 0;
  transform: translateY(-50px); /* Initial transform state */
}

.close-itemMobile.icon-is-visible {
  opacity: 1;
  transform: translateY(0);
}
.close-itemMobile.icon-is-hidden {
  transition: none; /* Disable transition for instant reset */
  opacity: 0;
  transform: translateY(-50px);
}
